body {
  font-family: "Inter", sans-serif;
}

/* ::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #dcdcdc;
  border-radius: 5px;
  display: none;
}

::-webkit-scrollbar-thumb:hover {
  background: #cdcccc;
  display: block;
} */
